{% extends "base.html" %}

{% block title %}
Add Task
{% endblock %}

{% block content %}

<div class="form-card">

    <h1>Add New Task</h1>

    <form method="POST" class="task-form">

        <input
            type="text"
            name="title"
            placeholder="Task Title"
            required
        >

        <textarea
            name="description"
            placeholder="Task Description"
            rows="5"
        ></textarea>

        <input
            type="date"
            name="due_date"
        >

        <select name="priority">

            <option value="High">High</option>

            <option value="Medium">Medium</option>

            <option value="Low">Low</option>

        </select>

        <button type="submit">
            Add Task
        </button>

    </form>

</div>

{% endblock %}