{% extends "base.html" %}

{% block title %}
Edit Task
{% endblock %}

{% block content %}

<div class="form-card">

    <h1>Edit Task</h1>

    <form method="POST" class="task-form">

        <input
            type="text"
            name="title"
            value="{{ task.title }}"
            required
        >

        <textarea
            name="description"
            rows="5"
        >{{ task.description }}</textarea>

        <input
            type="date"
            name="due_date"
            value="{{ task.due_date }}"
        >

        <select name="priority">

            <option value="High"
            {% if task.priority=="High" %}selected{% endif %}>
            High
            </option>

            <option value="Medium"
            {% if task.priority=="Medium" %}selected{% endif %}>
            Medium
            </option>

            <option value="Low"
            {% if task.priority=="Low" %}selected{% endif %}>
            Low
            </option>

        </select>

        <button type="submit">
            Update Task
        </button>

    </form>

</div>

{% endblock %}