{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="auth-container">

    <div class="auth-card">
        <h1>Create Account!</h1>
        <p>Register to start managing your tasks.</p>
        <form method="POST">
            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            >
            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >
            <button type="submit">
                Register
            </button>
        </form>
        <p class="bottom-text">
            Already have an account?
            <a href="/login">Login</a>
        </p>
    </div>
</div>
{% endblock %}